#about-background {
  position: absolute;
  background-image: url("../images/christmas-background-dark-blue-accents-optimized.jpeg");
  background-position: 30% 30%;
  height: 100%;
  width: 100%;
  background-size: cover;
}

.aboutContent {
  color: white;
  column-count: 3;
  margin-top: -180px;
  /* margin-bottom: 20%; */
  /* padding-bottom: 30%; */
  margin-right: 10%;
  margin-left: 25%;
  padding: 30px;
  height: 110%;
  z-index: 5;
}

.aboutContent a {
  color: #a2a7f7;
}

body, h1, h2, h3, h4, h5 {
  font-family: 'Yanone Kaffeesatz', sans-serif;
  font-size: 1.15rem;
}

#book-background {
  background-image: url("../images/christmas-background-old-paper-optimized.jpg");
  background-size: cover;
  background-position: 0 -180px;
}

.book-content {
  margin-top: -270px;
  margin-bottom: 50px;
  margin-right: 15%;
  margin-left: 25%;
  padding: 30px;
}

.candyCane {
  background-image: url('../images/candy-cane-frame.png');
  background-size: 800px auto;
  background-position: center;
  background-repeat: no-repeat;
  height: 90vh;
  left: 30%;
  top: 7%;
  z-index: 2;
}

.shrink {
  height: 20vh;
  animation: shrink;
}

.expand-column-wrapper {
  height: 100vh;
  max-width: 50rem;
  display: grid;
}

.expand-column-wrapper .cell {
  /* padding: 1rem; */
  width: 10em;
  height: 30em;
  transition: all 0.5s ease-in-out;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.expand-column-wrapper .cell:hover {
  -webkit-flex-basis: 40%;
      -ms-flex-preferred-size: 40%;
          flex-basis: 40%;
}

.expand-column-wrapper .gallery-img:nth-of-type(1) {
  background: url("https://lh3.google.com/pw/ACtC-3c7MYQ3cJ6pAoSAOiaj-IBcccsZM6T52KS7vU13dZJAGZd3ErehCL4OwJWVvCtrphDf9csG_FPtMgptqF0C2XQHDZLT3WA=w1605-h903-no?authuser=0") center center no-repeat;
  grid-column: 1;
  /* height: 100vh; */
  background-size: cover;
}

.expand-column-wrapper .gallery-img:nth-of-type(2) {
  background: url("https://cdn.pixabay.com/photo/2017/12/05/16/44/background-2999743_1280.jpg") center center no-repeat;
  grid-column: 2;
  /* height: 100vh; */
  background-size: cover;
}

.expand-column-wrapper .gallery-img:nth-of-type(3) {
  background: url("https://cdn.pixabay.com/photo/2017/12/18/18/38/christmas-3026688_1280.jpg") center center no-repeat;
  grid-column: 3;
  /* height: 100vh; */
  background-size: cover;
}

.expand-column-wrapper .gallery-img:nth-of-type(4) {
  background: url("https://cdn.pixabay.com/photo/2019/12/06/19/06/gifts-4678018_1280.jpg") center center no-repeat;
  grid-column: 4;
  /* height: 100vh; */
  background-size: cover;
}

.expand-column-wrapper .gallery-img:nth-of-type(5) {
  background: url("https://cdn.pixabay.com/photo/2018/11/24/12/29/gifts-3835455_1280.jpg") center center no-repeat;
  grid-column: 5;
  /* height: 100vh; */
  background-size: cover;
}

.expand-column-wrapper .gallery-img:nth-of-type(6) {
  grid-column: 6;
  background: url("https://cdn.pixabay.com/photo/2018/12/07/16/27/pink-3861994_1280.jpg") center center no-repeat;
  /* height: 100vh; */
  background-size: cover;
}

.footer {
  z-index: 100;
  position: fixed;
  opacity: 80%;
  left: 0;
  bottom: 0;
  width: 100%;
  color: white;
  text-align: right;
  padding-right: 20px;
  padding-bottom: 5px;
}

.footer img {
  height: 45px;
}

.frame {
  position: fixed;
  height: 95vh;
  left: 30%;
  top: 7%;
  object-fit: contain;
  animation-name: slideLeft;
  animation-duration: 1s;
  z-index: 2;
}

.frameContent {
  padding-top: 10%;
  margin: 5% 30% 10% 30%;
  z-index: 10;
}

.frameContent p {
  font-size: 1.3rem;
  line-height: 97%;
}

.frameContent h1 {
  font-size: 2rem;
}

.frameContent h3 {
  font-size: 1.5rem;
}

.gallery-background {
  position: absolute;
  left: 0;
  top: 0;
  min-width: 100%;
  min-height: 100%;
  height: fit-content;
  z-index: -15;
  background-image: url("../images/christmas-background-presents-optimized.png");
  background-repeat: repeat-y;
  background-width: 100%;
  background-size: contain;
  /* height: auto; */
}

.gallery {
  display: block;
  margin-top: -260px;
  padding: 1rem;
  /* background-color: red; */
  text-align: center;
  justify-content: center;
  align-items: center;
  /* height: 120vh; */
  width: 70%;
  object-fit: cover;
  /* overflow: hidden; */
}

.gallery-img {
  position: relative;
  width: 20em;
  object-fit: cover;
  padding: 1rem;
  transition: all 0.5s ease-in-out;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.gallery-img:hover {
  position: relative;
  transition: all .5s ease-in-out;
  width: 35em;
  transform-origin:bottom right;
  z-index:999;
}

.grid-container {
  padding-top: 330px;
}

h1, h2, h3, h4 {
  text-align: center;
}

.hero-full-screen {
  height: 100vh;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  z-index: -5;
}

.hero-full-screen .top-content-section {
  margin-left: 10%;
  background: transparent;
  color: white;
  width: 100%;
}

.hero-full-screen .bottom-content-section {
  padding: 1rem;
}

.hero-full-screen .bottom-content-section svg {
  height: 3.75rem;
  width: 3.75rem;
  fill: #fefefe;
}

.hero-full-screen .top-bar .menu {
  align-items: center;
  justify-content: center;
  text-align: center;
  background: transparent;
}

.hero-full-screen .top-bar .menu-text {
  background: transparent;
  color: #fefefe;
}

.hero-full-screen .top-bar a {
  background: transparent;
  color: #fefefe;
  font-weight: bold;
}

.logo {
  position: fixed;
  top: 5vh;
  left: 7vh;
  height: 40%;
  z-index: 100;
}

.logo-small {
  height: 30vh;
}

.menu a {
  color: #fefefe;
  z-index: 10;
}

.menu li:hover a:hover {
    /* background-color: red; */
}

.middle-content-section {
  font-family: 'Yanone Kaffeesatz', sans-serif;
  text-align: left;
  position: absolute;
  margin-left: 35%;
  width: 80%;
  top: 15%;
  color: #a2a7f7;
  text-align: left;
  padding: 15px;
  z-index: 2;
}

.middle-content-section h4 {
  font-family: 'Yanone Kaffeesatz', sans-serif;
  text-align: left;
}

.menuBtn {
  position: absolute;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin-left: 0;
  margin-top: 0;
  height: 60px;
  z-index: -10;
  color: white;
  transition: .5s ease-in-out;
}

.menuBtn:hover {
  transition: .5s ease-in-out;
  transform: translate(-15%);
  height: 85px;
}

.active {
  height: 80px;
  transform: translate(-15%);
}

.myVideo {
  position: fixed;
  left: 0;
  top: 0;
  min-width: 100%;
  min-height: 100%;
  z-index: 0;
}

.red {
  color:#c70109;
}

.scrollCircle {
  /* background-image: url('../images/button-scroll-blue.png'); */
  background-image: url('../images/ornament-red.png');
  background-size: 120vh;
  background-position: center;
  background-repeat: no-repeat;
  z-index: 2;
  left: 20%;
}

.scrollContent {
  margin-top: -20%;
  color: white;
  margin-left: 35%;
  margin-right: 28%;
}

.scrollContent label {
  color: white;
  margin-left: 0;
}

.scrollContent p {
  font-size: 14px;
  margin-top: -3px;
  margin-bottom: 5px;
}

.scrollContent input, .scrollContent select {
  padding-bottom: -5px;
  color: #8a8a8a;
  background-color: rgba(255, 255, 255, .8);
  margin-bottom: 5px;
}

.scrollContent input::-webkit-input-placeholder {
  color: #8a8a8a;
}

.scrollContent input:-ms-input-placeholder {
  color: #8a8a8a;
}

.scrollContent input::placeholder {
  color: #8a8a8a;
}
  
#services-background {
  background-image: url("../images/christmas-background-dark-blue-accents-optimized.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
}

.spacer {
  margin-top: 3rem;
  margin-bottom: 3rem;
}

#submitBtn {
  background: transparent;
  width: 200px;
}

.top-bar {
  margin-left: 10%;
  margin-right: 5%;
  margin-top: 50px;
  background: transparent;
  z-index: 3;
}

.top-bar-left {
    z-index: 3;
}

.top-bar-left a {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}
  
  /* ============================================= */
  
.glow-on-hover {
  border: none;
  outline: none;
  color: #fff;
  background: #111;
  cursor: pointer;
  position: relative;
  z-index: 0;
  border-radius: 10px;
}

.glow-on-hover:before {
  content: '';
  background: linear-gradient(45deg, #ff0000, #ff7300, #fffb00, #48ff00, #00ffd5, #002bff, #7a00ff, #ff00c8, #ff0000);
  position: absolute;
  top: -2px;
  left:-2px;
  background-size: 400%;
  z-index: -1;
  filter: blur(5px);
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  animation: glowing 20s linear infinite;
  opacity: 0;
  transition: opacity .3s ease-in-out;
  border-radius: 10px;
}

.glow-on-hover:active {
  color: #000
}

.glow-on-hover:active:after {
  background: transparent;
}

.glow-on-hover:hover:before {
  opacity: 1;
}

.glow-on-hover:after {
  z-index: -1;
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  background: #111;
  left: 0;
  top: 0;
  border-radius: 10px;
}

  /* ============================================= */

  @media screen and (max-width: 1100px) {
    .logo {
      position: fixed;
      top: 5vh;
      left: 7vh;
      height: 30%;
      z-index: 100;
    }

    .frame {
      position: fixed;
      height: 80vh;
      left: 10%;
      top: 60vh;
      object-fit: fill;
      /* animation-name: slideLeft; */
      /* animation-duration: 1s; */
      z-index: 2;
    }

    .candyCane {
      background-size: 600px auto;
      background-position: center;
      background-repeat: no-repeat;
      height: 80vh;
      left: 0;
      top: 20vh;
      z-index: 2;
    }

    .top-content-section {
      background: transparent;
      color: white;
      width: 100%;
      margin-top: 0;
      margin-left: 0;
      height: 20%;
    }

    .top-bar {
      margin-right: 0;
    }

    .menuBtn {
      height: 50px;
      z-index: -10;
      color: white;
      transition: .5s ease-in-out;
    }

    .active {
      /* height: 80px; */
      transform: translate(0);
    }

    .middle-content-section {
      margin-left: 40%;
    }

  }

  @media screen and (max-width: 640px) {
    .logo {
      position: fixed;
      top: 5vh;
      left: 7vh;
      height: 30%;
      z-index: 100;
    }

    .frame {
      position: fixed;
      height: 100vh;
      left: 0;
      top: 30vh;
      object-fit: fill;
      /* animation-name: slideLeft; */
      /* animation-duration: 1s; */
      z-index: 2;
    }

    .frameContent {
      padding-top: 10%;
      margin: 8% 10% 0 10%;
      z-index: 10;
    }

    .frameContent p {
      font-size: 1rem;
      line-height: 70%;
    }
    
    .frameContent h1 {
      font-size: 1.4rem;
    }
    
    .frameContent h3 {
      font-size: 1.2rem;
    }    

    .candyCane {
      background-size: 100%;
      height: 60vh;
      top: 30vh;
      z-index: 2;
    }

    .top-content-section {
      margin-top: 0;
      margin-left: 0;
    }

    .top-bar {
      margin-right: 0;
    }

    .menuBtn {
      height: 50px;
      z-index: -10;
      color: white;
      transition: .5s ease-in-out;
    }

    .active {
      /* height: 80px; */
      transform: translate(0);
    }

    .middle-content-section {
      margin-left: 40%;
    }

  }

  /* ============================================= */

  @keyframes slideLeft {
    from {left: 100%;}
    to {left: 30%;}
  }

  @keyframes shrink {
    from {height: 45vh;}
    to {height: 20vh;}
  }

  @keyframes glowing {
    0% { background-position: 0 0; }
    50% { background-position: 400% 0; }
    100% { background-position: 0 0; }
}