#about-background {
  position: absolute;
  background-image: url("../images/christmas-background-dark-blue-accents-optimized.jpeg");
  background-position: 30% 30%;
  height: 100%;
  width: 100%;
  background-size: cover;
}

.aboutContent {
  color: white;
  column-count: 3;
  margin-top: -260px;
  /* margin-bottom: 20%; */
  /* padding-bottom: 30%; */
  max-width: 90%;
  margin-right: 20%;
  margin-left: 25%;
  /* padding: 20px; */
  height: 110%;
  z-index: 5;
}

.aboutContent a {
  color: #a2a7f7;
}

.active {
  height: 80px;
  transform: translate(-15%);
}

body, h1, h2, h3, h4, h5 {
  font-family: 'Yanone Kaffeesatz', sans-serif;
  font-size: 1.15rem;
  background: transparent;
}

#book-background {
  position: absolute;
  background-image: url("../images/christmas-background-old-paper-optimized.jpg");
  background-position: 0 -180px;
  background-repeat: no-repeat;
  height: 100%;
  width: 100%;
  background-size: cover;
}

.book-content {
  position: relative;
  margin-top: -350px;
  margin-bottom: 50px;
  margin-right: 15%;
  margin-left: 25%;
  padding: 30px;
}

.book-content label {
  font-size: 1.1em;
  margin-bottom: 0;
  padding-bottom: 0;
}

.book-content h2 {
  font-size: 2em;
}

.book-content h4 {
  font-size: 1.6em;
}

.candyCane {
  position: absolute;
  background-image: url('../images/candy-cane-frame.png');
  background-size: 80% auto;
  background-position: center;
  background-repeat: no-repeat;
  height: 90vh;
  left: 30%;
  top: 7%;
  z-index: 2;
}

.expand-column-wrapper {
  height: 100vh;
  max-width: 50rem;
  display: grid;
}

.footer {
  z-index: 100;
  position: fixed;
  opacity: 80%;
  left: 0;
  bottom: 0;
  width: 100%;
  color: white;
  text-align: right;
  padding-right: 20px;
  padding-bottom: 5px;
}

.footer img {
  height: 45px;
}

.frameContent {
  position: relative;
  padding-top: 12%;
  margin: 0 30% 10% 30%;
  z-index: 10;
}

.frameContent p {
  font-size: 1.3rem;
  margin-top: 0;
  margin-bottom: 0;
}

.frameContent h1 {
  font-size: 2rem;
}

.frameContent h3 {
  font-size: 1.5rem;
}

#gallery-background {
  position: absolute;
  left: 0;
  top: 0;
  min-width: 100%;
  min-height: 100%;
  height: fit-content;
  z-index: -15;
  background-image: url("../images/christmas-background-presents-optimized.png");
  background-repeat: repeat-y;
  background-width: 100%;
  background-size: contain;
}

.gallery {
  display: block;
  margin-top: -260px;
  padding: 1rem;
  text-align: center;
  justify-content: center;
  align-items: center;
  width: 70%;
  object-fit: cover;
}

.gallery-img {
  position: relative;
  width: 20em;
  object-fit: cover;
  padding: 1rem;
  transition: all 0.5s ease-in-out;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.gallery-img:hover {
  position: relative;
  transition: all .5s ease-in-out;
  width: 35em;
  transform-origin:bottom right;
  z-index:999;
}

.grid-container {
  padding-top: 330px;
}

h1, h2, h3, h4 {
  text-align: center;
}

.hero-full-screen {
  height: 100vh;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  z-index: -5;
}

#home-background {
  position: absolute;
  height: 100%;
  width: 100%;
}

.logo {
  position: absolute;
  top: 5vh;
  left: 7vh;
  height: 40%;
  max-height: 240px;
  z-index: 100;
}

.logo-small {
  height: 30vh;
}

.menu {
  background: transparent !important;
  margin-left: 10%;
}

.menuBtn {
  height: 60px;
  transition: .5s ease-in-out;
}

.menuBtn:hover {
  transition: .5s ease-in-out;
  /* transform: translate(-15%); */
  height: 75px;
}

.middle-content-section {
  font-family: 'Yanone Kaffeesatz', sans-serif;
  text-align: left;
  position: relative;
  margin-left: 30%;
  width: 80%;
  top: 0;
  color: #a2a7f7;
  text-align: left;
  padding: 15px;
  z-index: 100;
}

.middle-content-section h4 {
  font-family: 'Yanone Kaffeesatz', sans-serif;
  text-align: left;
  font-size: 1.3em;
}

.myVideo {
  position: fixed;
  left: 0;
  top: 0;
  min-width: 100%;
  min-height: 100%;
  z-index: -999;
}

#ornaments {
  /* z-index: 100; */
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
}

.red {
  color:#c70109;
}
  
.services-background {
  position: absolute;
  background-image: url("../images/christmas-background-dark-blue-accents-optimized.jpeg");
  height: 100%;
  width: 100%;
  background-size: cover;
  overflow: hidden;
}

.shrink {
  height: 20vh;
  animation: shrink;
}

.spacer {
  margin-top: 3rem;
  margin-bottom: 3rem;
}

.stacked-for-medium {
  background: transparent;
}

#submitBtn {
  background: transparent;
  width: 200px;
}

.top-bar {
  margin-top: 15px;
  width: 100%;
  background: transparent;
}

.top-bar-left {
    z-index: 100;
    margin-left: 20%;
    background: transparent;
}

.top-bar-left a {
  display: inline-block;
  background: transparent;
}

.top-bar-left a {
 }

/* .top-bar-right li a { 
  background-color: blue !important;  
} */
  
  /* ============================================= */

  @media screen and (max-width: 1100px) {

    .logo {
      top: 5vh;
      left: 5vh;
      height: 35%;
    }

    .top-bar {
      margin-left: 20%;
    }

    .top-bar-left {
      margin-left: 0;
      margin-right: 0;
      padding: 0;
    }

    .menuBtn {
      height: 50px;
    }

    .frameContent {
      margin: -5% 30% 10% 30%;    
    }

    .candyCane {
      height: 80vh;
      left: 0;
      top: 20vh;
      z-index: 2;
    }

    .active {
      /* height: 80px; */
      transform: translate(0);
    }

    .middle-content-section {
      margin-left: 40%;
    }

  }

  @media screen and (max-width: 900px) {

    .logo {
      top: 5vh;
      left: 5vh;
      height: 30%;
    }

    .top-bar {
      margin-left: 20%;
    }

    .top-bar-left a {
      margin-left: 0;
      margin-right: 0;
      padding: 0;
    }

    .menuBtn {
      height: 47px;
      width: auto;
    }

    .menuBtn:hover {
      transition: .5s ease-in-out;
      transform: translate(-15%);
      height: 55px;
    }

    .middle-content-section {
      margin-left: 30%;
    }
    
    .middle-content-section h4 {
      font-size: 1.2em;
    }

    #elfForm {
      margin-top: -200px;
    }

    .aboutContent {
      column-count: 2;
      margin-top: -180px;
      margin-right: 10%;
      margin-left: 25%;
      padding: 30px;
      height: 110%;
      z-index: 5;
    } 

    .candyCane {
      background-image: none;
    }

    .frameContent {
      color: white;
      padding-top: 10%;
      margin: 5% 10% 0 10%;
      z-index: 10;
      width: 40%;
    }

    .frameContent p {
      font-size: 1rem;
      line-height: 1.4rem;
    }
    
    .frameContent h1 {
      font-size: 1.4rem;
    }
    
    .frameContent h3 {
      font-size: 1.2rem;
    }
    
    #ornaments {
      /* z-index: 100; */
      position: absolute;
      left: 0;
      bottom: 0;
      width: 100%;
    }

    .services-background {
      width: auto;
      background-size: cover;
    }

  }

  @media screen and (max-width: 770px) {

    .logo {
      top: 3vh;
      left: 3vh;
      height: 180px;
    }

    .top-bar {
      margin-left: 220px;
      width: 70%;
    }

    .menuBtn {
      height: 47px;
      width: auto;
    }

    .menuBtn:hover {
      transition: .5s ease-in-out;
      transform: translate(-15%);
      height: 55px;
    }

    .middle-content-section {
      margin-top: 75px;
      margin-left: 20px;
    }
    
    .middle-content-section h4 {
      font-size: 1.2em;
    }

    #about-background {
      height: auto;
      background-position: 30% 30%;
    }

    .aboutContent {
      column-count: 1;
      margin-top: 25%;
      margin-right: 0;
      margin-left: 0;
      /* padding: 30px; */
      /* height: 110%; */
      z-index: 5;
    }

    #book-background {
      position: absolute;
      background-image: url("../images/parchment.jpg");
      background-position: -40px 0px;
      height: fit-content;
      width: 100%;
      background-size: cover;
    }
    
    .book-content {
      margin-top: -110px;
      /* margin-bottom: 50px; */
      margin-left: 0;
      margin-right: 0;
      /* padding: 30px; */
    }

    .frameContent {
      margin-top: 0;
      margin-left: 5%;
      margin-bottom: 5%;
      width: 65%;
    }

    .frameContent p {
      font-size: 1rem;
      line-height: 1.4rem;
    }
    
    .frameContent h1 {
      font-size: 1.4rem;
    }
    
    .frameContent h3 {
      font-size: 1.2rem;
    }    

    .candyCane {
      background-size: 70%;
      height: 60vh;
      top: 30vh;
      z-index: 2;
    }

    #galleryCont {
      margin-top: -20px;
    }

  }

  @media screen and (max-width: 553px) {
 
    .middle-content-section {
      position: absolute;
      top: 120px;
    }

  }


  /* ============================================= */

  @keyframes slideLeft {
    from {left: 100%;}
    to {left: 30%;}
  }

  @keyframes shrink {
    from {height: 45vh;}
    to {height: 20vh;}
  }

  @keyframes glowing {
    0% { background-position: 0 0; }
    50% { background-position: 400% 0; }
    100% { background-position: 0 0; }
}